fastapi
uvicorn[standard]

pydantic
pydantic-settings

sqlalchemy
psycopg[binary]
alembic

langchain
langchain-openai
langgraph
langchain-mcp-adapters
langchain-community
langchain-text-splitters
langsmith

pymupdf
python-multipart

mcp
fastmcp

faiss-cpu

pytest
pytest-asyncio
ruff

pwdlib[argon2]
PyJWT

-e .